@import 'partial.scss';
@import '~js-datepicker/src/datepicker';

html {
  background: $yellow;
  background-image: url('../images/zulu_beadwork.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%
}

body {
  font-family: 'Ubuntu', sans-serif;
  min-height: 100%;
  @extend %flex-cont;
  position: relative;
  #wrap-container {
      padding-bottom: 2.5rem;
      height: 100vh;
  }
}

/* Image and Title */

header {
  font-size: 78px;
  width: 100vw;
  height: 2.25em;
  margin-top: 12vh;
  padding-top: 7vh;
  @extend %flex-cont;
  .hotel-image {
    margin-top: -5vh;
    max-width: 88vw;
    height: 27vh
  }

  h1 {
    margin-top: -15vh
  }

  .hotel-name-box {
    justify-content: space-around;
    align-self: flex-start;
    padding-left: 5vw ;
    .hotel-name {
      margin-top: 1vh;
      padding-left: 2.5vw ;
      @extend %hazy-box;
    }
  }
  .hotel-names {
    margin-top: -22vh;
    @extend %hazy-box;
  }
}

/* See Bookings Dropdown */

.see-bookings {
  position: relative;
  display: inline-block;
  box-shadow: $button-shadow;
  margin: 0 0 0 9em;
  @extend %button;
  width: 12em;
  height: 2em;
}
.dropdown-container {
  margin-top: 6em;
  height: 21em;
  background-color: transparent;
  .dropdown {
    margin-top: 6em;
    height: 21em;
    background-color: white;
    opacity: $opaque;
  }
}

.bookings-card {
  margin-top: .5em;
  height: 34em;
  .bookings {
    margin-left: 2em;
    width: 76vw;
    padding: .5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 33px;
    height: 7em;
    overflow:scroll;
  }
  .booking {
    padding: 10px;
  }
}
/* Login Container */

.login-area {
  @include booking-container(54px);
  height: 12em;
  .usernameLabel {
    display: flex;
    margin-left: 28%;
    font-size: 42px;
    margin-bottom: .5em;
    max-width: 60%;
    text-align: center;
  }
  #usernameLabel {
    font-size: 37px;
  }

  .login {
    height: 40%;
    width: 113%;
    font-size: 21px;

  }
  input {
    width:40%;
  }
  .login-button {
    margin-top: .5em;
    font-size: 44px;
  }
  .note {
    margin-top: 3em;
    font-size: 35px;
  }
}

/* Welcome and info container /bookings area */

.info-area {
  @include booking-container(61px);
}

.card-container {
  .stamps {
    margin-top: .5em;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    height: 7vh;
  }
  .stamp {
    width: 6em;
    height: 2em;
    margin-left: -5em;
  }
}

#starStamp {
  background-image: url(../images/hp_gold_star.svg);
  @extend %svg;

}
#staysStamp {
  background-image: url(../images/postal-service-stamp-1.svg);
  @extend %svg;
}


.status-bar {
  margin-top: .5em;
  @extend %status-bar;
}

.history-bar {
  text-decoration: underline;
  text-decoration-style: solid;
  @extend %status-bar;
}

.search-button {
  @extend %button;
  font-size: 34px;
  box-shadow: $button-shadow;
}
/* User Field Entry (Room Type Choices and Date) */
.booking-area {
  @include booking-container(35px);
  height: 14em;
  .bidet-box {
    margin-left: 18px;
    width: 30vw;
  }
  #picker {
    font-size: 37px;
    width: 8em;
    height: 2em;
  }

  .calendar-container{
    width: 92%;

  }
}

#picker {
  font-size: 32px;
  width: 8em;
}

.calendar-container {
  padding: 8px;
  display: inline-flex;
  width: 90%;
  .calendar {
  width: 9em;
  height: 8em;
  background-color: #E60E00;

  }
}

input[type="radio"] {
  visibility : hidden;
}

.tag-container {
    width: 45vw;
    label {
    padding: 2em;
    cursor: pointer;
    border: none;
    padding: .5vh;
    color: #000000;
    font-size: 2vh;
  }
}

.tag-label-checked,
.room-tag > label:hover,
.bidet-tag > label:hover {
  background-color: $yellow;
  font-size: 2.5vh;
}

.button-container {
  margin-top: 3vh;
  .check-button {
    @extend %button;
    height: 3em;
  }
}

/* User Choice of Room Container / BOOKING */

.room-list-container {
  @include booking-container(45px);
  height: 21em;
  .book-button-container {

  }
  .room-list {
    font-size: 25px;
  }
}

.home-button {
  @extend %button
}

footer {
  text-align: center;
  font-size: 34px;
  width: 100%;
  height: 10vh;
  position: relative;

  bottom: -3em;
  margin-left: 10vw;
  h3 {
    padding: .22em;
    text-decoration: overline;
    text-decoration-style: wavy;
  }
  @extend %hazy-box;
}

.hidden {
  visibility:hidden;
}

//@media queries
/* TABLET */

@media screen and (max-width: 630px) {
  .footer {
    bottom: 0;
  .info-container {
    margin-left: 4em;
  }
}

/* DESKTOP */

@media screen and (min-width: 980px) {
    .wrap-container {
      width: 90%;
    }

    h3 {
      display: flex;
      flex-direction:row;
      bottom:0em;
      height: 2vh;
      text-decoration: none;
    }
  }
